.parent {
    border: 1px transparent;
    margin: -45px 0px 0px 92px;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* border: 4px solid;  */
    padding: 20px;
    margin: 58px 44px 0px 78px;
    vertical-align: middle;

  }

  h3{

font-size: 25px;
font-family: sans-serif;

  }

  h4{

    font-size: 15px;
    font-family: sans-serif;
    margin-top: -10px;
    
      }