.footer-distributed {
  background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 8px 50px;
  margin:0px 0px 0px 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-distributed .footer-right p{
    color: #8f9296;
    font-size: 14px;
    padding: 12px;
    margin: 7px 0px -14px -153px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: -7px 0px 0px 674px;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
 
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 20px 0px 0px 0px;
}

.footer-distributed p.footer-links a:hover{
    text-decoration:underline;
}
.footer-distributed .footer-right a:hover{
    transform:scale(1.1); -webkit-transform:scale(1.1);
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
