

*{box-sizing: border-box; margin: 0; padding: 0;}

/**

----------------------- 

           login
-----------------------           
**/
.logoo{

    margin:-1px -52px 117px -17px;
    align-items: center;
  
  } 
  button{
  
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    height:40px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
  
  }
  button:hover{
  
    color:white;
    background-color:#43B0F1;
    border-color:#126392;
   
    box-shadow: 5px 2px 4px #126392;
  
  }
  #login{
  
  margin: 0px 9px 0px -38px;
  
  }
  
  
    .container{
    
      margin: -643px 0px 0px 974px;
      padding: 41px;
      width: 25%;
      align-items: center;
      background-color:black;
      opacity: 100%;
      text-align: center;
      font-family: Brush Script MT;
      font-size: 35px;
      border-radius: 7px;
      color: orange;
      position: absolute;
      
    
    }
    .data{
    
      background-color: none;
      color: white;
      align-items: center;
      text-align: start;
      margin: -75px 0px 0px 0px;
      padding: 30px;
      font-size: 10px;
      font-family:SitkaText;
      font-size: 18px;
    }
  
    .data input{
  
      padding: 13px;
      margin:6px;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
   border-bottom: 3px solid orange;
      border-image: linear-gradient(to right bottom,white, orange);
      border-image-slice: 1;
   
  
   
    }
    .data input:hover{
  
      padding: 7px;
      margin:7px;
      border-bottom: 3px solid orange;
      border-image: linear-gradient(to right bottom,white, orange);
      border-image-slice: 1;
  
      
    }
    .data input:hover::placeholder{
  color:white;
  padding-bottom: 20px;
  
  
    }
  
    .data input:focus {
      margin:8px;
      background-color: transparent;
      border-bottom: 3px solid orange;
      border-image: linear-gradient(to right bottom,white, orange);
      border-image-slice: 1;
     outline: none;
    }
    .data input:focus::placeholder{
  
      background-color: transparent;
      color: white;
      font-weight: bold;
    }
    
      .i_button{
      
        margin: 30px 70px;
        font-family: poppins,sans-serif;
        font-weight: bold;
        width: 100px;
        height: 40px;
        align-items: center;
       
        font-size: 15px;
        background-color: orange;
      }
      .i_button:hover{
  
        background-color: orange;
        box-shadow: 5px 2px 4px #292106;
  
      }
      
      #signup_l{
      
      margin: 16px;
      color: white;
      font-family: poppins,sans-serif;
     font-weight: bold;
      
      }
      #signupl{
        margin: 94px;
        color: orange;
      font-family: poppins,sans-serif;
      font-weight: bold;
      }
      
      .term{
      
      
       font-family: arial;
       font-size: 15px;
      }
/**

----------------------- 

           packages
-----------------------           
**/
.text{

    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: bold;
    color:white;
    position: relative;
    margin: 0px 0px 130px 0px;
    
    }
.carousel-cell {
    background:transparent;
    width: 28%;
    height: 200px;
  /*  margin-right: 10px;*/
    
    border-radius: 5px;
   font-weight: bold;
   font-size: 20px;
   font-family: sans-serif;
   color: white;
   
  }
  
  .carousel-cell.is-selected {
    background:transparent;
  }
  
   cell number 
  .carousel-cell:before {
   display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    
 
  }
.position{
    margin:-700px auto;
    z-index: 8888;
    position:relative;
}
.im2{

    left: 0;
   /* max-height: 380px;*/
   max-height: 380px;
   /* padding: 0px;*/
    background-position: center;
    background-repeat: no-repeat;
   /* background-size: cover;*/
    background-size: auto;
   position: relative;
  
    width:1519px;
}
/**

----------------------- 

           header
-----------------------           
**/

.logo{

    margin:13px 0px 0px 20px;
    
    
    }
    header{
       /* background-color: #EBEEF7;*/
       background-color:black;
        margin: -9px -7px 0px -8px;
       padding: 8px;
        position: fixed;
        top: 0px;
        left: 0px;
        opacity: 100%;
     
    width:1540px;
        z-index: 9999;
    }
    header a{

      

            text-decoration: none;
            color:black;
      
    }
 
    #h_f2{
        margin: 0px 42px 0px 6px;
       float: right;
       padding: 12px;
       font-family: poppins,sans-serif;
       font-size: 22px;
       font-weight: bold;
      
       color: white;
    
       
    }
    #h_f2 a:hover{
        color:orange;
        background-color:transparent;
        border-bottom: 2px solid white;
        border-image: linear-gradient(to right bottom,white, orange);
        border-image-slice: 1;
        padding: 8px;
        margin-left: 20px;
      
    
    }
    
    
.im{
    margin: 35px auto;
    left: 0;
   height: 690px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    width:1519px;
}
/**
----------------------- 

           footer
-----------------------           
**/

.foter{

    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin-top:90%;
position: relative;


}


.footer-distributed {
    background-color: #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 8px 50px;
    position:inherit;
    bottom: 0;
  }
  .footer-distributed .footer-right p{
      color: #8f9296;
      font-size: 14px;
      padding: 12px;
      margin: 7px 0px -14px -153px;
  }
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: -7px 0px 0px 674px;
  }
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 22px;
   
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin: 20px 0px 0px 0px;
  }
  
  .footer-distributed p.footer-links a:hover{
      text-decoration:underline;
  }
  .footer-distributed .footer-right a:hover{
      transform:scale(1.1); -webkit-transform:scale(1.1);
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
/**
----------------------- 

           About
-----------------------           
**/


.im3{

    margin-top: 340px;
    left: 0;
    height: 690px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position:absolute;
    width:1519px;

    
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.A-text {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.A-text :first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 60s infinite;
}
.A-text :last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.A-text :last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:1300px;}
    80% {opacity:1;}
    100% {opacity:0;width:1300px;}
}


.p1 {
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    color:white;
}

.A-text{

margin:800px 0px 0px 71px;


}

.graph{


  margin: 0px 0px 0px 0px;

}
