.logo{

  margin:-28px -52px 41px 0px;
  align-items: center;

}

body{

background-color: whitesmoke;

}
a:hover{
    color:black;
  }
  a{
  color:#0588EF;
  
  }
  
button{

  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  height:40px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;

}


button:hover{

  color:white;
  background-color:#43B0F1;
  border-color:#126392;
 
  box-shadow: 5px 2px 4px #126392;

}
#login{

margin: 0px 9px 65px -38px;

}
  .container{
  
    margin: 54px 0px 0px 525px;
    padding: 50px;
    width: 20%;
    align-items: center;
    background-color:black;
      opacity: 100%;
      text-align: center;
      font-family: Brush Script MT;
      font-size: 35px;
      border-radius: 7px;
      color: orange;
      position: absolute;
  
    
  
  }
  .data{
    background-color: none;
    color: white;
    align-items: center;
    text-align: start;
    margin: -24px 0px 0px 0px;
    padding: 30px;
    font-size: 10px;
    font-family:SitkaText;
    font-size: 18px;
  }

  .data input{

    padding: 13px;
      margin:6px;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
   border-bottom: 3px solid orange;
      border-image: linear-gradient(to right bottom,white, orange);
      border-image-slice: 1;
 
  }
  .data input:hover{
    padding: 7px;
    margin:7px;
    border-bottom: 3px solid orange;
    border-image: linear-gradient(to right bottom,white, orange);
    border-image-slice: 1;

    
  }
  .data input:hover::placeholder{
color:white;
padding-bottom: 20px;


  }

  .data input:focus {
    margin:8px;
    background-color: transparent;
    border-bottom: 3px solid orange;
    border-image-slice: 1;
   outline: none;
  }
  .data input:focus::placeholder{

    background-color: transparent;
    color: white;
    font-weight: bold;
  }
  
    .i_button{
    
      margin: 30px 70px;
      font-family: poppins,sans-serif;
      font-weight: bold;
      width: 100px;
      height: 40px;
      align-items: center;
     
      font-size: 15px;
      background-color: orange;
    }
    .i_button:hover{

      background-color: orange;
      box-shadow: 5px 2px 4px #292106;

    }
    
    #signup_l{
    
    margin: 35px;
    
    }
    #signupl{
      margin: 94px;
    }
    
    .term{
    
    
     font-family: arial;
     font-size: 15px;
    }

  @media (max-width:800px){

    #mobile{
  
    
      margin: 55px 80px;
      padding: 60px;
      width: 40%;
      align-items: center;
      background-color:#EBEEF7;
      text-align: center;
      font-family: Brush Script MT;
      font-size: 35px;
  
  
    }
    #mobile-data{
  
      background-color: none;
      align-items: center;
      text-align: start;
      margin: 0px auto;
      padding: 15px;
      font-size: 10px;
      font-family:SitkaText;
      font-size: 18px;
      }
    #mobile-data input{
  
        border: none;
        background-color:#FFFFFF;
        margin: 10px;
        padding: 5px;
        
        }
  
    #mobile_button{
  
          margin: 10px 85px;
        
          width: 70px;
          height: 30px;
          align-items: center;
          font-family: arila;
          font-size: 12px;
        }
        #msignup_l{
  
          margin: 35px;
          
          }
          #msignupl{
            margin: 94px;
          }
          
          #mterm{
          
          
           font-family: arial;
           font-size: 12px;
          }
  }
  
  