#tabledata {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  width: 70%;
  display: block;
}

#tabledata td, #tabledata th {
  /*border: 1px solid rgb(219, 219, 215);*/
  width: 500px;
  padding: 8px;
  border: none;
}
#tabledata tbody{

  display: block;
  height: 250px;
  overflow-x: auto;


}

#tabledata tr:nth-child(even){/*background-color: #73c6f7;*/
      
  /*background-color: rgb(243, 184, 75);
  /*color: white;*/
  background-color:rgb(247, 247, 152);
  color: black;

}
#tabledata tr:nth-child(odd){/*background-color: #73c6f7;*/
      
  /*background-color: rgb(243, 184, 75);
  /*color: white;*/
  background-color:rgba(255, 255, 93, 0.849);
  color: black;

}
/* #tabledata tr:nth-child(even):hover{
  background-color:#ddd;
  color: black;
font-weight: bold;
      }
*/
#tabledata tr:hover {/*background-color: #ddd;*/

background-color: white;
color: black;
font-weight: bold;
}

#tabledata th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /*background-color: #126392;
  */
/*  background-color: orange;

 
 /*background-color:#c71cc7;*/
 background-color:orange;
 color:white;
 /*
 color: black;*/
}