a:hover{
    color:black;
  }
  a{
  color:#0588EF;
  
  }
  .container{
  
    margin: 55px auto;
    padding: 50px;
    width: 20%;
    align-items: center;
    background-color:#EBEEF7;
    text-align: center;
    font-family: Brush Script MT;
    font-size: 35px;
      
  
  }
  .data{
  
    background-color: none;
    align-items: center;
    text-align: start;
    margin: 0px auto;
    padding: 30px;
    font-size: 10px;
    font-family:SitkaText;
    font-size: 18px;
    }
    .data input{
    
    border: none;
    background-color:#FFFFFF;
    margin: 10px;
    padding: 5px;
    
    }
    /*
    button for login and signup
    */
    .i_button{
    
      margin: 10px 85px;
    
      width: 70px;
      height: 30px;
      align-items: center;
      font-family: arila;
      font-size: 12px;
    }
    
    #signup_l{
    
    margin: 35px;
    
    }
    #signupl{
      margin: 94px;
    }
    
    .term{
    
    
     font-family: arial;
     font-size: 15px;
    }

  @media (max-width:800px){

    #mobile{
  
    
      margin: 55px 80px;
      padding: 60px;
      width: 40%;
      align-items: center;
      background-color:#EBEEF7;
      text-align: center;
      font-family: Brush Script MT;
      font-size: 35px;
  
  
    }
    #mobile-data{
  
      background-color: none;
      align-items: center;
      text-align: start;
      margin: 0px auto;
      padding: 15px;
      font-size: 10px;
      font-family:SitkaText;
      font-size: 18px;
      }
    #mobile-data input{
  
        border: none;
        background-color:#FFFFFF;
        margin: 10px;
        padding: 5px;
        
        }
  
    #mobile_button{
  
          margin: 10px 85px;
        
          width: 70px;
          height: 30px;
          align-items: center;
          font-family: arila;
          font-size: 12px;
        }
        #msignup_l{
  
          margin: 35px;
          
          }
          #msignupl{
            margin: 94px;
          }
          
          #mterm{
          
          
           font-family: arial;
           font-size: 12px;
          }
  }
  
  