/**

----------------------- 

           HEADER 
-----------------------           
**/

body{

    background-color: whitesmoke;
    
    }

header{
    background-color: black;
    margin: -9px -7px 0px -8px;
    padding: 5px;
    position: sticky;
    top: 0px;
    left: 0px;
    opacity: 80%;
}
header a{

    text-decoration: none;
    color:black;
}
header a:hover{

    color:blue;
}

#h_f{

    text-align: start;
    font-weight: bold;
    font-family: Brush Script MT;
    font-size: 60px;
}
#h_f2{
    margin-bottom: 55px;
    float: right;
    padding: 12px;
    font-family: poppins,sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;

}

#h_f2 a:hover{
    color:white;
    background-color:orange;
    padding: 8px;
    margin-left: 20px;
    border-radius: 3px;
   /* color:orange;
    background-color:transparent;
    border-bottom: 2px solid white;
    border-image: linear-gradient(to right bottom,white, orange);
    border-image-slice: 1;
    padding: 8px;
    margin-left: 20px;*/
  
}
.c_button{

    color: black;
    margin: 0px 0px -85px 1280px;

}

/**

----------------------- 

    BUTTON 
-----------------------           
**/
button{

    color: black;
    border-radius: 4px;
    padding: 8px;
    height:40px;
    border: 2px solid;
    background-color: orange;
    width: 100px;
    font-size: 12px;
    font-weight: bold;

}


button:hover{

    color:white;
    background-color:orange;
    border-color:yellow;
   
    box-shadow: 5px 2px 4px rgb(221, 145, 4);

}

/**

----------------------- 

    SIDE NAVIGATION 
-----------------------           
**/


.left_nav{
    margin: 0px 0px 0px 0px;
  /*  background-color:#EBEEF7 ;*/
  background-color:black;
    outline: none;
    opacity: 70%;
    width: 15%;
    height: 100%;
    overflow-x: hidden; 
    position: fixed;
    left: 0;
    font-size: 25px;
    align-items: left;
    border: none;
}
.left_nav a{

/*color: black;*/
color: white;
font-family: poppins,sans-serif;
text-decoration: none;
margin: 0px 0px 0px -14px;
line-height: 3.0;

}

.left_nav a:hover{

    /*
   
   color: white;

  background-color: orange;
    padding: 3px;
    margin-left: 5px;
    border-bottom: 2px solid black;
    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 5px 2px 4px gray;
    line-height: 4.0;
    */
    padding: 3px;
  
    line-height: 4.0;
    border-bottom: 3px solid orange;
    border-image: linear-gradient(to right bottom,white, orange);
    border-image-slice: 1;

}

.left_nav a i{

    height: 50px;
    margin:0px -15px -75px 20px;
    min-width: 50px;
    font-size:inherit;
    border-radius: 12px; 
    line-height: 4.0;

}
/**

----------------------- 

    right NAVIGATION 
-----------------------           
**/
.right_nav{

    margin: 0px 0px 0px 0px;
    background-color:#EBEEF7 ;
    width: 15%;
    height: 100%;
    overflow-x: hidden; 
    position: fixed;
    right: 0;
    font-size: 25px;
    align-items: left;
   

}

#box{

   text-align: center;
    margin: 80px 24px 45px 33px;
    padding: 13px;
    background-color: #D9D9D9;
}
/**

----------------------- 

            search bar 
-----------------------           
**/

button{

    padding: 8px;
    height:40px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;

    }
  

    .search{

        margin: 90px 0px 131px 440px;
      /*  position: sticky;*/
        top: 46%;
        width: 70%;
        text-align: center;
 
    }

    .search input{

        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 40%;
        background:#D9D9D9;
    }

    .search input:hover{
        background: #f1f1f1;
    }
    .search button{
      
        width: 10%;
        margin: 0px 501px 0px 0px;
        padding: 23px;
        font-size: 15px;
        cursor: pointer;
    }
    .search button:hover{
        background: #f1f1f1;

    }

/**

----------------------- 

    Table
-----------------------           
**/

.r_table{
    
    margin: 372px 0px 0px 302px;
    
}
.w_table{

    margin: 180px 0px 0px 483px;


}
.tablle{

    position: sticky;
    margin: 124px 0px 0px 373px;

}
.package{

    margin: 122px 0px 0px 284px;


}
.new{

    border: 1px;
    background-color:#EBEEF7 ;
    margin: 134px 0px 0px 769px ;
    padding: 10%;
    height: 20px;
    width: 20px;
}
.dataa{

    align-items: center;
    text-align: start;
    margin: 7px auto;
    padding: 15px;
    font-size: 10px;
    font-family: SitkaText;
    font-size: 18px;

}
.dataa input{

    border: none;
    background-color:#FFFFFF;
    margin: 10px;
    padding: 5px;
    width: 90%;
}

select{
    margin: 10px;
    padding: 5px;
    width: 80%;
}


#create_button{

    margin: 11px 0px 0px 179px;

}

.container2{
  
    margin: 10px auto;
    padding: 27px;
    width: 23%;
    align-items: center;
   /* background-color:#EBEEF7;*/
   background-color: rgb(71, 65, 65);
   color: orange;
   opacity: 100%;
    text-align: center;
    font-family: Brush Script MT;
    font-size: 35px;
    border-radius: 7px;
    box-shadow: 5px 2px 4px #0e1f29;
  }

  .container3{
  
    margin: 80px auto;
    padding: 50px;
    width: 20%;
    align-items: center;
    background-color: rgb(71, 65, 65);
    color: orange;
    text-align: center;
    font-family: Brush Script MT;
    font-size: 35px;
    border-radius: 7px;
    box-shadow: 5px 2px 4px #0e1f29;
  
  }
/** ----------------------- 

  report search 2
-----------------------           
**/
.search2{

    margin: 111px 0px 131px 440px;
    top: 46%;
    width: 70%;
    text-align: center;

}

.search2 input{

    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 40%;
    background:#D9D9D9;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search2 input:hover{
    background: #f1f1f1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.search2 button{
  
    /*
    width: 10%;
    margin: 0px 501px 0px 0px;
    padding: 23px;
    font-size: 15px;
    cursor: pointer;*/
    margin: 0px 501px 0px 0px;
    width: 10%;
    height: 50px;
    font-size: 17px;
    border-radius: 0px;
    border:none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.search2 button:hover{
    color:white;
    background-color:#43B0F1;
    border:2px solid #126392;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 5px 2px 4px #126392;
}

.dbutton {
    background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:-8px 29px -20px 13px;
    cursor: pointer;
  }
.w_div{

    margin: 95px -4px -109px 656px;
}


.deposite_c{

    align-items: center;
    text-align: start;
    margin: -15px auto;
    padding: 0px;
    font-size: 10px;
    font-family: SitkaText;
    font-size: 18px;

}
.deposite_c input{

    border: none;
    background-color:#FFFFFF;
    margin: 10px;
    padding: 5px;
    width: 80%;
}
.deposite_c button{

    margin: 13px 0px 0px 200px;
}

.update{

    margin: 66px 0px 0px 532px;
    padding: 50px;
    width: 20%;
    align-items: center;
    background-color:black;
    color: orange;
    text-align: center;
    font-family: Brush Script MT;
    font-size: 35px;
    border-radius: 7px;
    box-shadow: 5px 2px 4px #0e1f29;

}
.update input{

    border: none;
    background-color:#FFFFFF;
    margin: 10px;
    padding: 5px;
    width: 80%;


}
.update button{

    margin: 13px 0px 0px 200px;
}

/**
-------------------
    card
-------------------
**/
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    width: 100%;
    text-align:center;
   
  }
.cont {
    padding: 2px 16px;
    border: 1px solid;
  }

.c_head{
text-align: center;
transition: 0.3s;
    width: 100%;
}
.card_box1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align:center;
    width: 15%;
    margin: 99px 0px -127px 451px;
    border: 1px solid;
}
.card_box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align:center;
    width: 15%;
    border: 1px solid;
    margin: -132px 0px 0px 794px;
}
.url{

    width: 612px;
    height: 340px;
    margin: 38px 0px 0px 430px;
    background-color: #D9D9D9;
    border-radius: 7px;
    box-shadow: 5px 2px 4px #D9D9D9;
}
.url label{

    padding: 44px;
    font-size: 25px;
    font-family:sans-serif;
    margin: 0px 0px 0px -23px;

}
.urls{
    width: 612px;
    height: 266px;
    margin: 27px 0px 0px 0px;
    background-color: #CBC4C4;
    border-radius: 7px;
    box-shadow: 5px 2px 4px #D9D9D9;
}
.urls label{

    margin: 27px 0px 0px -30px;
}
.urls input{


    text-align: start;
    font-family: SitkaText;
    font-size: 18px;
    border: none;
    background-color:#FFFFFF;
    margin: 10px 0px 0px 43px;
    padding: 5px;
    height: 24px;
    width: 50%;

}
.urls button{
    height: 37px
}
.candidate_b{

    margin: 140px 0px 0px 757px;
}

.upload{

    margin: 140px 0px 0px 757px;
}

#c_table{

    margin:93px 38px 0px 398px;

}
#button_u{

    margin: 1px 0px -51px 170px;
}

.admin_table2{

margin: -527px -371px -739px -329px;
padding: 700px;
}
.statistic{

    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
     margin:120px 760px -142px 388px; 
    margin: 99px 0px -127px 451px;
    background-color:#EBEEF7 ; */
    margin-top: 25;
    display: inline-block;
    margin: 28px 40px 0px 517px;
    font-size: 34px;
}
.statistic a{
    text-decoration: none;
}
.stat{
    border-radius: 5px 5px 5px;
    /* border: 1px solid black; */
    padding: 26px;
    color: black;
    background-color: #D9D9D9;
}


.depos{
    border-radius: 5px 5px 5px;
    /* border: 1px solid black; */
    padding: 26px;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
}
.onl{
    border-radius: 5px 5px 5px;
    /* border: 1px solid black; */
    padding: 26px;
    color: black;
    background-color: #D9D9D9;
    visibility: hidden;
}
.container5{
    padding: 22px 57px;
    display: inline-block;
}

.deposit{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
     margin: -214px 1038px -101px 561px;  
    margin: -132px 0px 0px 794px;
    background-color:#EBEEF7 ; */

    margin-top: 25;
    display: inline-block;
   

}
.container6{
    padding: 14px 55px;
    display: inline-block;
}

.online{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: -67px 1100px -27px 758px; 
    background-color:#EBEEF7 ; */
    margin: 10px 20px 30px 40px;
    margin-top: 40;
    display: inline-block;


}
.container7{
    padding: 16px 62px;
    display: inline-block;
}
.registerButton2{
    margin: 174px 93px -61px 811px;
    padding: 5px;
}
.registerTable2{
   
    margin: 57px 0px 0px 407px;
}
.packageButton2
{
    margin: 177px 0px 0px 762px;
    padding:5px;
}
.packageTable2{
    margin: 45px 0px 0px 309px;
   
    
  
}










.packageAdmin{
    background-color: #EBEEF7;
    margin: 10px 20px 20px 50px;
}

.registered{
    margin: 100px -7px 30px 575px;
    
    
    padding: 27px;
    width: 23%;
    align-items: center;
   /* background-color:#EBEEF7;*/
   background-color: rgb(71, 65, 65);
   color: orange;
   opacity: 100%;
   
    border-radius: 7px;
    
    box-shadow: 5px 2px 4px #0e1f29;

}
.registered label{
   /* margin: 39px 156px 30px -81px;
    */align-items: start;
    font-family: SitkaText;
    font-size: 18px;
    padding: 2px;
}
.registered input{
    
    border: none;
    background-color:#FFFFFF;
   margin: 24px 0px 23px 45px;
    padding: 5px;
    width: 70%;

}
.registered button{
    margin: 0px 0px 0px 207px;
}

.updateSettings{
    margin: 39px 20px 30px 581px;
    justify-content: center;
    font-size: 23px;
}
.optionSettings{
    margin: 39px 20px 30px 328px;
    font-size: 30px;
    font-weight: bold;
}
.allowed{
    margin-top: 25;
    margin: -194px 40px 0px 1190px;
    font-size: 28px;
}
.allo{
    border-radius: 5px 5px 5px;
    border: 1px solid black;
    padding: 26px;
    color: black;
    background-color: #D9D9D9;
}
.show_election{
    margin: 65px 30px 30px 267px;
    font-size: 25px;
}


.registeredtemp{
    margin: -442px -7px 30px 575px;
    
    
    padding: 27px;
    width: 23%;
    align-items: center;
   /* background-color:#EBEEF7;*/
   background-color: rgb(71, 65, 65);
   color: orange;
   opacity: 100%;
   
    border-radius: 7px;
    
    box-shadow: 5px 2px 4px #0e1f29;

}
.registeredtemp label{
   /* margin: 39px 156px 30px -81px;
    */align-items: start;
    font-family: SitkaText;
    font-size: 18px;
    padding: 2px;
}
.registeredtemp input{
    
    border: none;
    background-color:#FFFFFF;
   margin: 24px 0px 23px 45px;
    padding: 5px;
    width: 70%;

}
.registeredtemp button{
    margin: 0px 0px 0px 207px;
}

.icon-button__badge {
    position: absolute;
    font-size: 20px;
    top: 173px;
    right: 351px;
    width: 33px;
    height: 30px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

 .approval_table{

margin: 94px 0px 0px 435px;
position: fixed;
width: 80%;
height: 250px


  }

.graph{

margin:0px 0px 0px 0px;

}
.ft{

margin: 116px 0px 0px 414px;

}